$primary-color: rgb(231, 231, 231);
$light-blue: rgb(122, 218, 250);
$green: #0ab90a;
$dark-grey: rgb(90, 90, 90);
$light-grey: rgb(170, 170, 170);
$dark-red: rgb(255, 117, 117);
$black: rgb(32, 32, 32);
$font-sm: 1.5rem;
$font-med: 2.5rem;
$font-lg: 3rem;

html {
  font-size: 62.5%;
}
body {
  font-family: 'Fjalla One', sans-serif;
  font-size: $font-med;
  color: white;
  background-color: $black;
}
button {
  cursor: pointer;
  font-family: 'Fjalla One', sans-serif;
}
button:focus {
  outline: 0;
}
input {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: $font-lg;
  font-family: 'Fjalla One', sans-serif;
  background: transparent;
  border: 0px;
  padding: 10px;
  color: white;
  outline: none;
  width: 100%;
}
.loading{
  color: $light-grey;
  font-size: $font-med;
  margin: 2rem 0rem 0rem 2rem;
}
.channel-search {
  display: grid;
  grid-template-columns: 4fr 1fr;
  .create-channel {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: right;
    button {
      display: inline-block;
      border: none;
      padding: 1rem 2rem;
      margin-right: 10px;
      text-decoration: none;
      background: $light-blue;
      color: white;
      border-radius: 5px;
    }
  }
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  .current-channel {
    margin: 20px 10px 20px 10px;
    font-size: $font-lg;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    color: $dark-red;
  }
  .channel-results {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    .channel-result {
      display: grid;
      grid-template-columns: 3fr 1fr;
      margin: 0px 10px 0px 10px;
      .channel-name {
        justify-items: left;
        align-items: center;
        color: $dark-red;
      }
      .channel-options {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: right;
        align-items: center;
        button {
          display: inline-block;
          border: none;
          padding: 1rem 2rem;
          margin: 0;
          text-decoration: none;
          background: $green;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
  .header {
    background-color: $primary-color;
    font-family: 'Fjalla One', sans-serif;
    color: $black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.377);
    .add-link {
      justify-self: right;
    }
    .back-link {
      justify-self: left;
    }

    a {
      color: $dark-grey;
      font-size: $font-med;
      text-decoration: none;
    }
    a:hover {
      cursor: pointer;
    }
  }
  .feed {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 8rem;
    margin: 10px 10px 0px 10px;
    .video480 {
      width: 480px;
      height: 385px;
    }
    .vid-posted-at{
      color: $light-grey;
      font-size: $font-sm;
    }
  }
  .results {
    margin-right: 1rem;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .result {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    .add {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: left;
      button {
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0;
        text-decoration: none;
        background: $green;
        color: #ffffff;
        border-radius: 5px;
      }
      .added {
        color: rgb(85, 85, 85);
        padding: 1rem 2rem;
      }
    }
  }
}
